.editaddress-modal-title {
	color: #000000;
	font-size: 17px;
}

.editaddress-modal-subtitle {
	font-size: 14px;
	color: #000000;
}

.editaddress-item-group {

}

.editaddress-item-label {
	color: #333333;
	font-size: 14px;
}

.editaddress-item-input {
	border-radius: 2px;
	border: 1px solid #CCCCCC;
	height: 35px;
	color: #666666;
	padding: 0px 10px;
	font-size: 14px;
	width: 100%;
}

.editaddress-error { 
	border: 1px solid red; 
}

.editaddress-error-label {
	color: red;
	margin: 0;
	font-size: 12px;
}

.editaddress-mt-5 {
	margin-top: 5px;
}

.editaddress-modal-button {
	background-color: #CE0204;
	border-radius: 15px;
	color: #F5F5F5;
	border:none;
	padding: 5px 15px;
	font-size: 14px;
}

.editaddress-mr-10 {
	margin-right: 10px;
}

.editaddress-modal-button:disabled { 
	background-color: #b8bdc4;
}