.create-password-view {
   padding-top: 126px;
}

.create-password-panel {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 550px;
   min-height: 500px;
   border: 1px solid #bcbcbc;
   border-radius: 5px;
   margin: 15px 0;
}

.create-password-body {
   padding: 70px 60px 0px 60px;
   min-height: 440px;
}

.create-password-header {
	color: #E24E50;
	font-size: 30px;
}

.create-password-guide-view {
   margin-top: 25px;
}

.create-password-guide-label {
   color: #000000;
}

.create-password-new-view, .create-password-confirm-view {
   margin-top: 30px;
}

.create-password-option-view {
   margin-top: 20px;
}