.account-view {
	background-color: #FFFFFF;
}

.account-container-view {
	padding-top: 95px;
	background-color: #FFFFFF;
}

.account-container {
	width: 1200px;
}

.account-container-main-view {
	padding: 20px 0px;
}

.account-left-view {
	width: 280px;
}

.account-right-view {
	width: calc(100% - 280px);
	border: 1px solid #CCCCCC;
	border-left: 0;
	border-collapse: collapse;
}

.account-left-container {
	min-height: 400px;
	height: 100%;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}

.account-left-menu-header {
	height: 50px;
	background-color: #D20609;
}

.account-left-menu-header-label {
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 17px;
}

.account-left-menu-item {
	background-color: #FFFFFF;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
}

.account-left-menu-item-label {
	color: #3F3F3F;
	font-size: 14px;
	margin-left: 30px;
}